/* ================= */
/*  IMPORTED FONTS   */
/* ================= */
@import url('https://use.typekit.net/ftp0zfd.css');

/* ================= */
/*     VARIABLES     */
/* ================= */
:root {
/* fonts */
--title-font: 'p22-cezanne-pro', sans-serif;
/* colors */
--ltaqua: #C2D9CB;
--dkaqua: #9AADA2;
--gold: #D5AE78;
--ltbrown: #8D6957;
--dkbrown: #583B36;
}

/* ================= */
/*      GENERAL      */
/* ================= */
body {
  margin: 0;
  padding: 0;
}

.full-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 50px 150px 150px 150px 150px 50px;
  grid-template-areas: "header header header header header header"
                       "nav nav nav nav nav nav"
                       "aside aside main-left1 main-left2 main-right main-right"
                       "aside aside main-left3 main-left3 main-right main-right"
                       "aside aside main-left4 main-left4 main-right main-right"
                       "aside aside main-left4 main-left4 main-right main-right"
                       "footer footer footer footer footer footer";
}

/* ================= */
/*       HEADER      */
/* ================= */
.header-container {
  grid-area: header;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.header-image {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  opacity: 75%;
}

.header-title {
  position: absolute;
  font-family: var(--title-font);
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  color: var(--dkbrown);
  margin-left: 45px;
  margin-top: 5%;
}

/* ================= */
/*    NAVIGATION     */
/* ================= */
.nav-bar {
  grid-area: nav;
  background-color: var(--dkbrown);
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  text-transform: uppercase;
  list-style: none;
}

/* ================= */
/*       ASIDE       */
/* ================= */
.aside {
  grid-area: aside;
  background-color: var(--ltbrown);
}

.quote {
  font-family: var(--title-font);
  font-size: 6vw;
  padding: 20px;
  text-align: center;
  color: var(--dkaqua)
}

.form-container {

}

.form-input {

}

.story-form-input {

}

/* ================= */
/*      FOOTER       */
/* ================= */
.footer {
  grid-area: footer;
  background-color: var(--dkbrown);
}

/* ================= */
/*   MEDIA QUERIES   */
/* ================= */
@media (max-width: 380px){
  .full-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 30px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 75px 30px;
    grid-template-areas: "header header"
                         "nav nav"
                         "aside aside"
                         "aside aside"
                         "aside aside"
                         "aside aside"
                         "main-right main-right"
                         "main-right main-right"
                         "main-right main-right"
                         "main-right main-right"
                         "main-left main-left"
                         "main-left main-left"
                         "main-left main-left"
                         "main-left main-left"
                         "footer footer";
  }
}
