/* ================= */
/*  IMPORTED FONTS   */
/* ================= */
@import url('https://use.typekit.net/ftp0zfd.css');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Didact+Gothic&family=Montserrat:wght@400;500&family=Spartan:wght@400;500;600&display=swap');

/* ================= */
/*     VARIABLES     */
/* ================= */
:root {
/* fonts */
--title-font: 'p22-cezanne-pro', sans-serif;
--body-font: 'Montserrat', sans-serif;
/* colors */
--ltaqua: #C2D9CB;
--dkaqua: #9AADA2;
--gold: #D5AE78;
--ltbrown: #8D6957;
--dkbrown: #583B36;
}

/* ================= */
/*      GENERAL      */
/* ================= */
html, body {
  margin: 0;
  padding: 0;
}

.full-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 300px 50px auto 50px;
  grid-template-areas: "header header"
                       "nav nav"
                       "aside main"
                       "footer footer";
}

/* ================= */
/*       HEADER      */
/* ================= */
.header-container {
  grid-area: header;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.header-image {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  opacity: 70%;
}

.header-title {
  position: absolute;
  font-family: var(--title-font);
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  color: var(--dkbrown);
  margin-left: 45px;
  margin-top: 4%;
}

/* ================= */
/*    NAVIGATION     */
/* ================= */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-area: nav;
  background-color: var(--dkbrown);
}

.nav-bar h4 {
  color: white;
  text-transform: uppercase;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
}

/* ================= */
/*       ASIDE       */
/* ================= */
.aside {
  grid-area: aside;
  background-color: var(--ltbrown);
  height: 100%;
}

.quote {
  font-family: var(--title-font);
  font-size: 4vw;
  padding: 20px;
  text-align: center;
  color: var(--dkaqua);
}

/* ================= */
/*       FORM        */
/* ================= */
.form-container {
  width: 100%;
  padding: 15px 10px 0px 10px;
  box-sizing: border-box;
  background: var(--ltbrown);
  margin: 10px auto;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

label {
  display: inline-block;
  width: 75%;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--body-font);
  color: var(--dkaqua);
}

.form-input {
  background-color: white;
  border: none;
  height: 40px;
  outline: none;
  border-radius: 5px;
  font-size: 1vw;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: var(--body-font);
  margin: 5px;
}

.story-form-input {
  color: var(--dkaqua);
  background-color: white;
  border: none;
  width: 100%;
  height: 175px;
  outline: none;
  vertical-align: middle;
  border-radius: 5px;
  font-size: 1vw;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: var(--body-font);
  margin: 5px;
}

input[type="text"] {
  display: inline-block;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin: 5px;
  color: var(--dkaqua);
}

input[type="submit"] {
  display: inline-block;
  border: 0;
  border: 3px solid var(--dkbrown);
  background: white;
  color: var(--dkbrown);
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  margin: 5px;
}
input[type="submit"]:hover {
  background-color: var(--ltaqua);
  cursor: pointer;
}

::placeholder {
  font-family: var(--body-font);
  color: var(--ltaqua);
}

/* ================= */
/*       MAIN        */
/* ================= */
.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas: "one two five five"
                       "three two six six"
                       "four nine six six"
                       "four ten seven eight";
}

.home-grid img {
  width: 100%;
}

.one {
  background-color: var(--gold);
  grid-area: one;
}

.two {
  grid-area: two;
  overflow: hidden;
}

.three {
  background-color: var(--dkbrown);
  grid-area: three;
}

.six {
  grid-area: six;
  overflow: hidden;
}

.main-container {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  grid-template-areas: "maintwo";
}

.gallery-post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 98%;
  height: 300px;
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  background: white;
  border-radius: 5px;
  border: 3px solid var(--dkbrown);
}

.gallery-image img {
  width: 400px;
  height: 260px;
  align-content: center;
}

.gallery-info {
  text-align: center;
  margin: 0 auto;
}

.gallery-info h1 {
  font-family: var(--title-font);
  font-weight: 200;
  font-style: normal;
  font-size: 4vw;
  margin: 5px auto;
  line-height: 20px;
}

.gallery-info h2 {
  font-family: var(--title-font);
  font-weight: 200;
  font-style: normal;
  font-size: 2vw;
    margin: 5px auto;
}

.gallery-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  margin: 0 10px;
}

.gallery-actions h4 {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

/* ================= */
/*      FOOTER       */
/* ================= */
.footer {
  grid-area: footer;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  margin-top: 25px;
  background-color: var(--dkbrown);
}

/* ================= */
/*   MEDIA QUERIES   */
/* ================= */
@media (max-width: 380px){
  .full-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 225px 13px auto 30px;
    grid-template-areas: "header"
                         "nav"
                         "aside"
                         "main"
                         "footer";
  }

  .header-image {
    opacity: 60%;
  }

  .header-title {
    position: inherit;
    text-align: center;
    font-size: 30vw;
    margin-top: 2px;
    margin-left: -27px;
  }

  .nav-bar {
    margin-top: -42px;
  }

  .aside {
    height: 200px;
  }

  .quote {
    font-size: 10vw;
    padding: 0 35px;
    vertical-align: middle;
  }

}
